.headerAdmin{
    display: flex;
    background-color: black;
    height: 150px;
    
}

.headerAdmin h1{
    margin-top: 55px;
    color: rgb(200, 200, 96);
    margin-left: 15px;
    margin-right: 500px;
}

.headerAdmin button{
    width: 90px;
    height: 50px;
    margin-left: 40px;
    margin-top: 55px;
}

.cerrar{
    display: flex;
    width: 90px;
    height: 48px;
    border: 1px solid white;
    border-radius: 2px;
    background-color: #e7e7e7;
    margin-top: 55px;
    color: black;
    margin-left: 650px;
    text-decoration: none;
    text-align: center;
    align-items: center;

}

.headerAdmin div{
    width: 90px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
}

body{
    background-color: rgb(0, 0, 0);
  }
  .encabezado{
    position: fixed;
    display: flex;
    width: 100%;
    height: 200px;
    background-color: rgb(0, 0, 0);
   z-index: 3;
   margin-top: -8%;
  
  }
  
  .contenedorLogo img{
    width: 30%;
    margin-top: 18px;
    margin-left: 40px;
  }
  .nombre{
    margin-top: -2%;
    margin-left: 500px;
  }
  
  .nombre img{
    width: 250px;
  }
  
  .contenedorOpciones{
   margin-top: 150px;
   display: flex;
   justify-content: end;
  }
  .boton {
    color: #ffa600 !important;
    font-weight: 500;
    padding: 0.5em 1.2em;
    border: 2px solid;
    transition: all 0.1s ease;
    position: relative;
    width: 130px;
    padding: 7px;
    border-radius: 5px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .boton:hover{
    background: #bbb00d;
    color: #000000 !important;
  }
  .botonJugar{
    text-decoration: none;
    color: #000000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedorCarrusel{
    width: 100%;
    height: 40%;
    border-radius: 10px;
    margin-top: 7%;
    display: flex;
    justify-content: center;
  }
  .contenedorCarrusel img{
    height: 800px;
  }
  
  .posicionDescripcion{
    width: 100%;
    padding: 40px;
    height: 400px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(109, 0, 0);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .BotonTrabaja{
    margin-left: 80%;
    width: 150px;
  }
  .BotonTrabaja button{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
  }
  .formulario{
    color: #000000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .botonJugar{
    padding: 20px;
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .botonInstrucciones{
    width: 270px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    font-size: 20px;
  }
  .contenedorInstrucciones{
    margin-left: 30%;
    width: 500px;
    height: 800px;
    background-color: rgb(243, 1, 1);
  }
  .fondo{
    width: 100%;
    padding: 5px;
    background-color: rgb(115, 0, 0);
  }
  .contenedorSelecc{
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .botonSelecc{
    text-decoration: none;
    color: #eadc16 !important;
    font-weight: 500;
    padding: 0.5em 1.2em;
    border: 2px solid;
    transition: all 0.1s ease;
    position: relative;
    width: 130px;
    padding: 7px;
    border-radius: 5px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.avatar{
    width: 100px;
}
.cardAvatares, .cardLugares{
    background-color: rgb(109, 0, 0);
    color: white;

}
.contenedorCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cardLugares{
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    border-radius: 10px;
}
.cardAvatares{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    border-radius: 10px;
}
.titulo{
    color: white;
    text-align: center;
    margin: 2%;
}
.btnReservar{
    display: flex;
    border: 2px solid #eadc16;
    text-decoration: none;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    color: #eadc16;
    align-items: center;
    justify-content: center;
}
.btnReservar:hover{
    background-color: #eadc16;
    color: #000000;
}
.contenedorBtn{
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formularioLogin{
    display: flex;
    margin: 3%;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
}
.formularioLogin label{
    color: white;
}
.btnLogin{
    margin: 3%;
    display: flex;
    text-decoration: none;
    border: 1px solid #eadc16;
    border-radius: 5px;
    width: 120px;
    color: #eadc16;
    justify-content: center;
    align-items: center;
}
.btnLogin:hover{
    background-color: #eadc16;
    color: #000000;
}
.containerLogin{
    display: flex;
    justify-content: center;
}
.input{
    width: 80%;
}
.imgLogin{
   width: 100%;
}
.header{
  display: flex;
}